@mixin changing-text($margin, $size, $weight) {
    margin: $margin;
    font-size: $size;
    font-weight: $weight;

    @media (max-width: 980px) {
        font-size: $size - 3px;
    }

    @media (max-width: 700px) {
        font-size: $size - 4px;
    }
}

.location {
    width: 100%;
    height: 100%;

    color: #202435;

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    z-index: 1;

    .locationBackground {
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
        
        background-color: black;
        opacity: 0.2;
    }

    .detailedLocation {
        position: relative;

        width: 25%;

        padding: 20px 20px 20px 30px;

        position: absolute;
        top:35%;
        left:50%;
        transform:translate(-50%, -50%);
    
        background-color: white;
        border-radius: 7px;
    
        .blockCaptions {
            display: flex;
            justify-content: space-between;
            text-align: start;

            .blockCaption {
                @include changing-text(0 0 5px 0, 18px, 500);
            }

            .notification {
                @include changing-text(0 0 12px 0, 13px, 400);
            }

            .closeButton {
                align-self: flex-start;
                   
                font-size: 18px;
    
                background-color: white;
                border: 0;
    
                cursor: pointer;

                @media (max-width: 980px) {
                    font-size: 15px;
                }
            }
        }

        .cities {
            text-align: start;

            .caption {
                width: 90%;

                padding-bottom: 15px;
                border-bottom: 1px solid #e4e5ee;

                cursor: pointer;

                @include changing-text(12px 0 12px 0, 17px, 400);
            }
        }
    
        
    }
}